{
  "name": "TF_H2",
  "alpha_control_points": [
    { "dataValue": 0.0, "alphaValue": 0.0 },
    { "dataValue": 0.80674, "alphaValue": 0.400904 },
    { "dataValue": 1.0, "alphaValue": 0.746934 },
    { "dataValue": 0.3307, "alphaValue": 0.191737 },
    { "dataValue": 0.592944, "alphaValue": 0.300194 },
    { "dataValue": 0.125329, "alphaValue": 0.235636 },
    { "dataValue": 0.07267, "alphaValue": 0.083279 },
    { "dataValue": 0.050553, "alphaValue": 0.191737 },
    { "dataValue": 0.108478, "alphaValue": 0.279535 },
    { "dataValue": 0.013691, "alphaValue": 0.023886 },
    { "dataValue": 0.431806, "alphaValue": 0.0 },
    { "dataValue": 0.244339, "alphaValue": 0.096191 },
    { "dataValue": 0.68773, "alphaValue": 0.359587 },
    { "dataValue": 0.884676, "alphaValue": 0.728857 },
    { "dataValue": 0.756188, "alphaValue": 0.808909 },
    { "dataValue": 0.634018, "alphaValue": 0.610071 },
    { "dataValue": 0.505529, "alphaValue": 0.333764 },
    { "dataValue": 0.390732, "alphaValue": 0.0 },
    { "dataValue": 0.467615, "alphaValue": 0.0 }
  ],
  "colour_control_points": [
    { "dataValue": 0.0, "colourValue": [0.368, 0.309, 0.635, 1.0] },
    { "dataValue": 0.125, "colourValue": [0.248, 0.591, 0.717, 1.0] },
    { "dataValue": 0.25, "colourValue": [0.538, 0.815, 0.645, 1.0] },
    { "dataValue": 0.375, "colourValue": [0.848, 0.939, 0.607, 1.0] },
    { "dataValue": 1.0, "colourValue": [0.62, 0.004, 0.259, 1.0] }
  ]
}
